@charset "utf-8";
/* member-im */
@import url(common.css);

.sub_business_section1{
  padding-top:calc(var(--row) * 3);
  margin-bottom: 48px;
}
.content_wrapper{
    width: 1120px;
    height: 182px;
    gap: 96px;
    padding-bottom: 80px;
}
.content_wrapper img{
    width: 190px;
    height: 190px;
    border-radius: 100px;
}


.text_content{
    width: 782px;
    line-height: 30px;
}


h2{
    padding-bottom: 10px;
}

.content_wrapper .readmore-img{
  width: 100px;
  height: 20px;
  border-radius: 0;
  padding-top: 10px;
}

.slidewrapper{
    position: relative;
    margin:2rem auto;
    overflow:hidden;
    padding-top: 20px;
    height: 680px;
  }
  .slide-container {
    width: 1300px;
    height: 420px;
  }
  .slidewrapper .slide{
    position:absolute;
    width: 140px;
    height: 400px;
    transition:all 0.8s;  
    padding-top: 20px;
  }

.slide p{
  position: absolute;
  opacity: 0;    
  padding-top: 170px;
  width: 580px; 
  /* padding-left: 20px; */
  line-height: 23px;
  transition:0.1s 0s;
  text-align: center;
}
  .slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
  }
  .slidewrapper .slide:nth-child(1){
    left: 160px;
  }
  .slidewrapper .slide:nth-child(2){
    left: 160px;
  }
  .slidewrapper .slide:nth-child(3){
    left:340px;
    width:600px;
    height: 400px;
    top:-20px;
  }
  .slidewrapper .slide:nth-child(3) p{
    opacity: 1;  
    transition:0.3s 0.3s;
    padding-top: 150px;
  }
  .slidewrapper .slide:nth-child(4){
    left:980px;
  }
  .slidewrapper .slide:nth-child(5){
    left:1160px;
  }
  .slidewrapper .slide:nth-child(6){
    left:1160px;
  }

  .status{
    justify-content: center;
    margin-top: 20px;
    width: 200px;
    border: 1px solid #ebebeb;
  }

  .current-idx,
  .total-idx{
    font-size: 18px;
    font-weight: bold;
    margin: 0 10px;
  }
  .controls{
    position: absolute;
    left: 49%;
    top: 450px;
  }

  .prev,
  .next{
    background: #fff;
    border: none;
  }
  .prev{
    left: 480px;
  }
  .next{
    right: 500px;
  }
  @media screen and (max-width:768px) {
    .sub_business_section1{
      padding-top:calc(var(--row) * 1);
      margin-bottom: 48px;
  }
    .text_content p {
      display: none; 
    }
  
    .content_wrapper {
      width: 100%;
      flex-direction: column;
      padding-bottom: 170px;
      gap: 0;
      position: relative;
    }
    .content_wrapper:hover img{
      opacity: 1;
    }
  
    .content_wrapper img {
      margin-bottom: 20px;       
      -webkit-transition: .5s ease-in-out;
      transition: .5s ease-in-out;
      filter: blur(0);
    }
    .content_wrapper img:hover {
      opacity: 0.5;
      filter: blur(1px);
    }
    .text_content {
      text-align: center; 
    }
     .readmore-img{
      opacity: 0;
      position: absolute;
      top: 85px;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
      transition: opacity 0.5s ease, top 0.5s ease, left 0.5s ease;
    }

    .slidewrapper{
      position: relative;
      margin:2rem auto;
      overflow:hidden;
      height: 680px;
      width: 400px;
    }
    .slide-container {
      width: 400px;
      height: 420px;
    }
    .slidewrapper .slide{
      position:absolute;
      width: 140px;
      height: 400px;
      transition:all 0.8s;  
      /* padding-top: 20px; */
    }
  
  .slide p{
    position: absolute;
    opacity: 0;    
    width: 400px; 
    padding-top: 10px;
    line-height: 23px;
    transition:0.1s 0s;
    text-align: center;
  }
    .slide img{
      width: 400px;
      height: 300px;
      object-fit: cover;
      border-radius: 20px;
    }
    .slidewrapper .slide:nth-child(1){
      left: -400px;
    }
    .slidewrapper .slide:nth-child(2){
      left: -400px;
    }
    .slidewrapper .slide:nth-child(3){
      left:0;
      width: 400px;
      height: 400px;
      top:20px;
    }
    .slidewrapper .slide:nth-child(3) p{
      opacity: 1;  
      transition:0.3s 0.3s;
      padding-top: 100px;
    }
    .slidewrapper .slide:nth-child(4){
      left:980px;
    }
    .slidewrapper .slide:nth-child(5){
      left:1160px;
    }
    .slidewrapper .slide:nth-child(6){
      left:1160px;
    }
  
    .status{
      justify-content: center;
      margin-top: 20px;
      width: 200px;
      border: 1px solid #ebebeb;
    }
  
    .current-idx,
    .total-idx{
      font-size: 18px;
      font-weight: bold;
      margin: 0 10px;
    }
    span{
      font-weight: bold;
      font-size: 22px;
    }
    .controls{
      position: absolute;
      left: 180px;
      top: 380px;
    }
  
    .prev,
    .next{
      background: #fff;
      border: none;
    }
    .prev{
      left: -150px;
      position: absolute;

    }
    .next{
      left: 140px;
      position: absolute;
    }
  }
