@charset "utf-8";
/* member-im */
@import url(common.css);

.sub_business_section1{
    padding-top:calc(var(--row) * 3);
    margin-bottom: 50px;
}

.content_wrapper{
    width: 1120px;
    height: 182px;
    gap: 100px;
    padding-bottom: 80px;
}
.content_wrapper img{
    width: 190px;
    height: 190px;
    border-radius: 100px;
}
.text_content{
    width: 782px;
    line-height: 30px;
}


h2{
    padding-bottom: 20px;
}


.slidewrapper{
    position: relative;
    margin:2rem auto;
    overflow:hidden;
    padding-top: 20px;
    height: 680px;
  }
  .slide-container {
    width: 1300px;
    height: 420px;
  }
  .slidewrapper .slide{
    position:absolute;
    width: 140px;
    height: 400px;
    transition:all 0.8s;  
    padding-top: 20px;
  }

.slide p{
  position: absolute;
  opacity: 0;    
  padding-top: 170px;
  width: 580px; 
  /* padding-left: 20px; */
  line-height: 23px;
  transition:0.1s 0s;
  text-align: center;
}
  .slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
  }
  .slidewrapper .slide:nth-child(1){
    left: 160px;
  }
  .slidewrapper .slide:nth-child(2){
    left: 160px;
  }
  .slidewrapper .slide:nth-child(3){
    left:340px;
    width:600px;
    height: 400px;
    top:-20px;
  }
  .slidewrapper .slide:nth-child(3) p{
    opacity: 1;  
    transition:0.3s 0.3s;
    padding-top: 150px;
  }
  .slidewrapper .slide:nth-child(4){
    left:980px;
  }
  .slidewrapper .slide:nth-child(5){
    left:1160px;
  }
  .slidewrapper .slide:nth-child(6){
    left:1160px;
  }

  .status{
    justify-content: center;
    margin-top: 20px;
    width: 200px;
    border: 1px solid #ebebeb;
  }

  .current-idx,
  .total-idx{
    font-size: 18px;
    font-weight: bold;
    margin: 0 10px;
  }
  .controls{
    position: absolute;
    left: 50%;
  }

  .prev,
  .next{
    /* position: absolute; */
    background: #fff;
    border: none;
  }
  .prev{
    left: 480px;
  }
  .next{
    right: 500px;
  }
