@charset 'utf-8';

@import url(normalize.css);
@import url(reset.css);

/* 프리텐다드 */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");
/* 
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
*/

/* 삼성폰트 */
@font-face {
  font-family: 'samsunggothic';
  src: url('../srcs/fonts/NeonPlanetDisplay.ttf') format('ttf');
}
/* 
  font-family: 'samsunggothic', -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
*/

/* 
  변수 선언
*/
:root {
  --font:16px;
}
/* 
typography
*/
body {
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
  font-size: var(--font);
}
.banner-title{
  font-family: 'samsunggothic', -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
  font-size: calc(var(--font) * 4);
  line-height: 80px;

}
.h1{
  font-size: calc(var(--font) * 2);
  font-weight: 700;
  line-height: 40px;
}
.h2{
  font-family: 'samsunggothic', -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
  font-size: calc(var(--font) * 1.75);
  line-height: 35px;
}
.h3{
  font-size: calc(var(--font) * 1.625);
  font-weight: 500;
  line-height: 30px;
}
.h4{
  font-size: calc(var(--font) * 1.375);
  font-weight: 400;
  line-height: 26px;
}
.h5{
  font-size: calc(var(--font) * 1.25);
  line-height: 24px;
}
.h6{font-size: calc(var(--font) * 1.125);}
.body_s{font-size: calc(var(--font) * 0.875);}
.body_xs{font-size: calc(var(--font) * 0.75);}

