@charset "utf-8";
@import url(normalize.css);
@import url(reset.css);

/* 프리텐다드 */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");
/* 
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
*/

/* 삼성폰트 */
@font-face {
  font-family: 'samsunggothic';
  src: url('../srcs/fonts/NeonPlanetDisplay.ttf') format('ttf');
}
/* 
  font-family: 'samsunggothic', -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
*/
/* 
   ==================== variants ==================== 
*/
:root {
  --font:1em;
  --row:26px;
  --main-color: #1C5CB0;
  --sub-color: #11359A;
  --light-gray: #F2F2F2;
  --medium-gray: #BFBFBF;
  --dark-gray: #9A9A9A;
  --light-black: #404040;
  --text-black: #333333;
  --text-sub2: #2C2C2C;
  --white: #fff;
}

/* 
   ==================== layout ==================== 
*/

.container {  
  max-width: 1300px;
  width: 90%;
  margin: 0 auto;
}
.d-flex {display: flex;}
.jcsb {justify-content: space-between;}
.aic {align-items: center;}
.hidden {
  position: fixed;
  left: 0; top: 99999em;
  width: 0; height: 0;
  overflow: hidden;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}
.p-row {padding: calc(var(--row)) 0;}

/* 
 ==================== typography ==================== 
*/

body {
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
  font-size: var(--font);
  color: var(--text-black);
  /* overflow-x: hidden; */
}
.banner-title{
  font-family: 'samsunggothic', -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
  font-size: calc(4 * var(--font));
  line-height: 5rem;
  text-transform: uppercase;
}
.h1{
  font-size: calc(var(--font) * 2);
  font-weight: 700; 
  line-height: 2.5rem;
}
.h2{
  font-family: 'samsunggothic', -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
  font-size: calc(var(--font) * 1.75);
  line-height: 2.5rem;
}
.h3{
  font-size: calc(var(--font) * 1.625);
  font-weight: 500;
  line-height: 1.875rem;
}
.h4{
  font-size: calc(var(--font) * 1.375);
  font-weight: 400;
  line-height: 1.625rem;
}
.h5{
  font-size: calc(var(--font) * 1.25);
  line-height: 1.5rem;
}
.h6{font-size: calc(var(--font) * 1.125);}
.body_s{font-size: calc(var(--font) * 0.875);}
.body_xs{font-size: calc(var(--font) * 0.75);}

/*  ==================== typography : media ====================  */
@media screen and (max-width: 768px){
  .banner-title {
    font-size: 1.75rem;
    line-height: 2.1875rem;
  }
  .h2 {
    font-size: 1.125rem;
    line-height: 1.25rem;
  }
  .h3 {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.125rem;
  }
  .h5 {
    font-size: 0.875rem; /* 14px */
    line-height: 1.0625rem;
  }
}
/*  ==================== HEADER : 임시원 ====================  */
header {
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,1) 80px, rgba(238,238,238,1) 80px);
  width: 100%;
  height: 80px;
  position: fixed;
  left: 0;
  right: 0;
  overflow: hidden; 
  padding: 20px 0;
  box-sizing:border-box;
  z-index: 9999;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}
header .container {
  width: 1300px;
  margin: 0 auto;
}
.logo a{
  display: block;
  width: 200px;
  height: 46px;
  background: url(../images/Logo.png) no-repeat;
  text-indent: -9999em;
  background-size: contain;
}
.main_menu{
  gap: 73px;
  position: absolute;
  left: 50%;
  top: 40px;
  transform: translate(-50%,-50%);
  font-size: 18px;
}
.right_menu{gap: 45px;
padding-right: 120px;}

/* 검색 */
.right_menu.search li:first-child,
.right_menu.search .searchformToggle,
.search-bar form{display: none;}
.right_menu.search .search-bar .form_2{
  display: block;
}

/* label{
  position: absolute;
  opacity: 0;
  left: 0;
  top: 0;
  visibility:hidden;
  transition:0.4s;
}
.form_2:focus-within label{
  opacity:1;
  visibility:visible;
  top:-20px;
  color:#000;
}
.form_2:focus-within input::placeholder{
  opacity:0;
} */
button{
  background: #fff;
  border:none;
  z-index: 1000;
}
#search{
  width: 170px;
  height: 26px;
  position: absolute;
  right: 55px;
  background: #ebebeb;
  border:none;
  border-radius: 10px;
}
.search-bar {
  position: absolute;
  top: 23px;
  right: 300px;
  background-color: none  ;
  border: none;
  padding: 5px 10px;
}
.search-bar.open {
  display: block;
}
.search-bar input[type="search"] {
  width: 200px;
  height: 30px;
  border: none;
  outline: none; 
  padding: 5px;
  margin-right: 5px; 
}
.search-bar button {
  border: none; 
  background-color: none ;
  cursor: pointer;
}
/* .right_menu span:last-of-type{
  position: absolute;
  right: 310px;
} */
/* 햄버거 버튼 */
.mobileToggle {
  position: fixed;
  top: 30px;
  right: 0;
  width: 30px;
  height: 30px;
  border:none;
  margin: 0;
  background: none;
  display: none;
}
.mobileToggle i{
  position: fixed;
  left: 0;
  top: -9999px;  
}
.mobileToggle span{
  position: absolute;
  left: 0;
  width: 30px;  
  height: 6px;
  border-radius:3px;
  background: #121212;
  transition:.3s
}
.mobileToggle span:first-of-type {top:0;}
.mobileToggle span:nth-of-type(2),
.mobileToggle span:nth-of-type(3) {top:10px;}
.mobileToggle span:last-of-type {top:20px;}
.open span:first-of-type,
.open span:last-of-type {opacity: 0;}
.open span:nth-of-type(2) {transform: rotate(45deg);}
.open span:nth-of-type(3) {transform: rotate(-45deg);}

/* depth */

.main_nav > ul > li {line-height:50px;position: relative; white-space: nowrap;}
.main_nav > ul > li > a {white-space: nowrap;}
.main_nav > ul > li > ul{position: absolute; top: 80px; justify-content: space-between;}
.main_nav > ul > li ul li{white-space:nowrap; font-size: 18px;}
.depth_3 {display: none;}
.depth_2 li em{font-weight: bold;}
.main_menu .depth_3 {display: none;}
.depth_2 .material-symbols-outlined{
  position: absolute;
  left: 110px;
  padding-top: 15px;
  align-items: center;
  font-size: 18px;
}

/*  ==================== header : media ==================== */
@media (min-width:768px){
  header nav > ul > li:hover ul{
    display: block;
  }
}
@media screen and (max-width: 768px) {
  .logo{
    padding-left: 10px;
    z-index: 90;
  }
  nav{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    /* background: linear-gradient(180deg, rgba(255,255,255,1) 80px, rgba(238,238,238,1) 80px); */
    opacity: 0;
    transition: 0.3s;
    visibility: hidden;
    ul{
      width: 100px;
      flex-direction: column;
      li{
          color: #000;
          ul{
            display: none;
          }
      }
    }
  }
  .mobileToggle {
    display: block;
    right: 20px;
  }
  header nav > ul {position: relative;}
  .main_menu{
    gap: 35px;
    position: absolute;
    left: 120px;
    top: 200px;
    /* transform: translate(-50%,-50%); */
    font-size: 18px;
  }
  .searchformToggle span{display: block;}
  .main_nav > ul > li > ul{
    position: relative;
    top: 0;
  }
  .depth_2 .material-symbols-outlined{
    position: absolute;
    left: 110px;
    padding-top: 15px;
    align-items: center;
    font-size: 18px;
    z-index: 1000;
    color: #000;
  }
  header {
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 80px, rgba(238,238,238,1) 80px);
    width: 100%;
    height: 80px;
    position: fixed;
    overflow: visible;
    left: 0;
    right: 0;
    padding: 20px 0;
    box-sizing:border-box;
    z-index: 9999;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  }
  .right_menu{
    left: 100px;
    position: absolute;
    left: 370px;
    z-index: 100;
    display: none;
    top: 100px;
  }
  .right_menu li:first-child{opacity: 0;}
  #search{
    right: 40px;
    width: 140px;
  }
  .main_menu .depth_2.active > a {
    color: #ccc;
  }
  button{
    background: #fff;
    border:none;
    z-index: 1000;
  }
  #search{
    width: 200px;
    height: 26px;
    position: absolute;
    right: 300px;
    background: #ebebeb;
    border:none;
    border-radius: 10px;
  }
  .search-bar {
    position: absolute;
    top: 0;
    right: 10px;
    /* display: none; */
    background-color: none  ;
    border: none;
    padding: 5px 10px;
  }
  .search-bar.open {
    display: block;
  }
  .search-bar input[type="search"] {
    width: 200px; 
    height: 30px;
    border: none;
    outline: none;
    padding: 5px;
    margin-right: 5px;
  }
  .search-bar button {
    border: none; 
    background-color: none ;
    cursor: pointer;
  }
  
}
.open nav{
  opacity: 1;
  visibility: visible;
}
.open .mobileToggle span{background: #1A5AAD;} 
.open .right_menu{
  position: absolute;
  left: 370px;
  z-index: 1000;
  display: flex;
  top: 110px;
}
.open .right_menu li:first-child{display: none;}
.open .form_2{display: block;}
.open #search{
  position: absolute;
  right: 140px;
  width: 200px;
  height: 40px;
  opacity: 1;
  background: #ebebeb;
}
.open .form_2 span {display: block; background: none;}
.open .right_menu span:last-of-type {opacity: 1; position: absolute; background: none; right: 168px;
  top: 7px;
color: #000;}
.open .main_menu {transform: none; align-items: start; left: 60px;}
.open .depth_2{
  left: 20px;
}
.open .depth_2 li span{
  opacity: 1;
}
.open .b.searchformToggle ,
.opne .b{display: none;}
.open button {color: #1A5AAD; position: absolute;  background: none;}
.open .depth_2 li em{
  display: none;
}
.open .main_nav > ul > li > a{
  font-weight: bold;
}

/* ==================== footer : 유부현 ==================== */

.slide_readmore {display: block;}
.slide_readmore span {
  margin-right: 70px;
  font-weight: bold;
  color: var(--main-color);
  font-size: 20px;
}
.slide_readmore img {
  width: 150px;
  object-fit: cover;
}
/*공지사항*/
.footer_top{
  flex-direction: row;
  gap: 60px;
  padding-top: 50px;
  padding-bottom: 50px;
  h2{
    font-weight: bold;
  }
}
.notice {padding-top: 20px;}
.notice_1st,
.notice_2st {width: 640px;}
.footer_data span{
  display: block;
  height: 30px;
  text-align: center;
}
.footer_data span:last-child{
  background: var( --main-color);
  color: aliceblue;
  padding: 5px;
}
.footer_data {margin-top: 50px;}
.footer_navi {padding: 30px;}
.footer_navi_title{
  color: var(--main-color);
  font-weight: bold;
}
.footer_navi_p{color: var(--medium-grays);}
.footer_navi div{padding-bottom: 20px;}
.ft_contents{
  display: flex;
  width: 100%;
  width: 640px;
  padding-top: 30px;
}
/*공지사항*/

.ft_customer{
  padding: 50px 20px 0 20px;
  /* padding-top: 50px; */
  overflow: hidden;
}
.ft_contents .batteryimg{
  width: 189px;
  height: 89px;
}
.ft_list2{float: right;}
.inquery_pager a {
  position: absolute;
  left: -9999px;
}
/*고객문의*/
.inquery_pager {
  position: absolute; left: 110px; top: 5px;
  height: 20px;
}
.inquery_pager ul{
  height: 100%;
  gap: 10px;
}
.inquery_pager li{
  width: 20px; height: 20px;
  background: var(--light-gray);
  border-radius: 50%;
}
.inquery_pager li.inquery_pager_active {background: var(--main-color);}
.mm_menu > ul > li{
  border-bottom: 2px solid transparent;
}
.mm_menu > ul > li:hover {border-bottom: 2px solid #fff;}
/*정보구조설계*/
.footer_bottom{
  color: #fff;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background: linear-gradient(180.92deg, #1A5AAD 0.73%, #012B65 99.15%);
}
.body_s span {vertical-align: middle;}
.footer-last {padding: 50px;}
.samsungwhitelogo{
  width: 137px;
  height: 37px;
}
.footer_3th {padding: 20px 0;}
.footer_3th > ul {
  display: flex;
  /* gap: 5px; */
  justify-content: space-between;
}
.footer_3th > ul > li > ul {margin-top: 20px;}
.ft_bt > li >span{color: #7BADF3;}
.mm_menu{
  flex-direction: column;
  text-align: center;
  gap: 20px;
}
.mm_menu ul {gap: 30px;}
.notice_2st {position: relative;}
.customer_div {border: 1px solid red;}
.readmore {display: block;}
.readmore span {
  margin-right: 70px;
  font-weight: bold;
  color: var(--main-color);
  font-size: 20px;
}
.readmore img {
  width: 50%;
  object-fit: cover;
}
.footer_top{
  padding-top: 50px;
  padding-bottom: 50px;
}
.notice_sub {padding: 20px;}
.footer_data span{
  display: block;
  height: 30px;
  text-align: center;
}
.footer_data span:last-child{
  background: var( --main-color);
  color: aliceblue;
  padding: 5px;
}
.footer_navi {padding: 30px;}
.customer_li .batteryimg {width: 189px;}
.footer_bottom{
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background: linear-gradient(180.92deg, #1A5AAD 0.73%, #012B65 99.15%);
}
/* .footer_bottom nav {height: 326px;} */
.footer_bottom_last {display: flex;}

/* ==================== footer : media 유부현  ==================== */
@media screen and (min-width:768px){
.footer_top{
  /* flex-direction:column; */
}
.footer_3th{
  display: block;
 }

}
/* ==================== modal ====================  */
.modal {
  position: fixed; 
  left: 5%; top: 15%;
  z-index: 999999999;
}
.modal.hide{display: none;}
.modal img {vertical-align: bottom; width: 100%;}
.modal p {
  position: relative;
  padding: 8px 2%;
  background-color: var(--highlight);
  border: 1px solid #000;
  border-top: none;
  font-size: 14px;
  background: #000;
  color: var(--white);
}
#checkbox {
  width: 13px;
  height: 13px;
  border: 1px solid var(--white);
  border-radius: 50%;
  vertical-align: middle;
  appearance: none;
  cursor: pointer;
  margin: 3px 3px 3px 3px;
}
input[type="checkbox"]:checked {background: var(--main-color);}
.modal label {cursor: pointer;}
.modal .modal_close {
  position: absolute;
  right: 10px;
  cursor: pointer;
}


/*  ==================== mapbtn : 유부현 ==================== */
#mapbtn{
  width: 100px;
  height: 100px;
  position: fixed;
  right: 30px;
  bottom: 405px;
  z-index: 9999;
}
.quickbtn_map{
  display:none;
  position: fixed;
  left: 0; top: 0; right: 0; bottom: 0;
  background-color: rgba(0,0,0,0.8);
  padding: 20px;
  z-index: 9999;
}
.quickbtn_map_wrapper {color: var(--white); position: relative;}
.quickbtn_map_wrapper h2 {padding-bottom: 20px;}
.quickbtn_map_wrapper p{
  color: var(--white); 
  font-weight: bold;
  padding-bottom: 10px;
}
.quickbtn_map_wrapper img{
  width:100%; 
  height:100%;
}
.quickbtn_map_wrapper hr {
  border: none;
  border-bottom: 1px solid #fff;
  margin: 20px 0;
}
.mapmodal_close {
  font-size: 50px;
  position: absolute;
  right: 30px; top: 30px;
  cursor: pointer;
}

/*  ==================== sub common ====================  */
main.container {padding-top:calc(var(--row) * 3);}
.sub_common {padding: calc(var(--row) * 3) 0 calc(var(--row) * 2) 0;}
.align {padding-bottom: var(--row);}
.align ul {
  gap: 10px;
  color: var(--main-color);
  /* opacity: 0.7; */
}
.sub_common img {
  clip-path:polygon(0 0, 0 0, 0 100%,0 100%);
  animation: img 3s forwards;
  width: 100%;
  object-fit: cover;
}
@keyframes img {
  0%{}
  100% {clip-path:polygon(0 0,100% 0,100% 100%,0 100%);}
}
