@charset "utf-8";
/* member-you */
@import url(common.css);

.inquery_li{
    width: 170px;
    height: 156px;
    border: 1px solid var(--medium-gray);
    margin: auto;
}


.cho_cho,
label,
.join{
    font-weight: bold;
}
textarea{
    resize: none;
    width: 1120px;
    height: 287px;
}
.test{
    padding-bottom: 20px;
}
input{
    border: none;
    border: 1px solid var( --medium-gray) ;
    border-color: transparent transparent var( --medium-gray) transparent;
}
input:focus{
    border: none;
}