@charset "utf-8";
/* member-you */
@import url(common.css);
/*상단 아이콘*/
.inquery_li{
    width: 170px;
    height: 156px;
    border: 1px solid var(--medium-gray);
    margin: auto;
}
.inquery_li a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    width: 100%;
}
.inquery_li:nth-child(5) a{
    padding-top: 24px;
    gap: 20px;
}
.inquery_li a:hover svg path{
    stroke: var(--main-color);
}
/* radio-list */
.radio-list {
    gap: 24px;
}
.gap{
    gap: 24px;
}
/* form-list */
.form-list {
    display: flex; 
    flex-direction: column; 
    gap: 50px; 
    margin-top: 50px;
}
.form-list > li {
    display: flex; 
    gap: 24px; 
    justify-content: space-between;
}
.form-list .item {
    min-width: 96px; 
    line-height: var(--medium-gray); 
    font-weight: 700;
}
.form-list .item:after {
    content:'*'; 
    margin-left:4px; 
    color: #ED3A3F;
}
.form-list .item.option:after {
    content:'(선택)'; 
    margin-left: 4px; 
    color: #666; 
    font-size: 14px;
}
.form-list .data {
    width:100%;
}
/* 첨부파일 */
.form-list .data.file {
    display: flex; 
    gap: 24px; 
    justify-content: space-between; 
    align-items: center;
    position: relative;
}
.data.file .ipt-wrap:last-child {
    width: 97px;
}
.data.file .file-name.on {
    display:block; 
    position: absolute; 
    top: 5px; 
    left: 16px;
}
textarea{
    resize: none;
    width: 1120px;
    height: 287px;
}
input{

    border: none;
    border: 1px solid var( --medium-gray) ;
    border-color: transparent transparent var( --medium-gray) transparent;
}
input:focus{
    border: none;
}

/*개인정보*/
.join_list{
    overflow: hidden;
    overflow-y: scroll;
    height: 200px;
    margin: 0;
    padding: 15px;
    border: 1px solid var( --medium-gray);
    background-color: #f8f8f8;
}

/* 약관
.terms-area {margin-top: 24px;}
.terms-area > .ipt-wrap {display: flex; gap: 24px; align-items: center;} */