@charset "utf-8";
@import url(common.css);

/* 
MAIN
banner 
*/
.bannerWrapper{
  width: 100%;
  height: 100vh;
  /* position: relative; */
  overflow:hidden;
}
.bannerWrapper .slidecontainer{
  position: relative;
  height: 100%;
  /* overflow:hidden; */
}
/* .slidecontainer.animated{
  transition:transform 0.3s;
} */
.bannerWrapper .slidecontainer .slide {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}
.bannerWrapper .slidecontainer li.bannerActive .slide-text {
  opacity: 1;
}
.bannerWrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.bannerWrapper .slidecontainer .slide-text {
  background: rgba(0,0,0,0.6);
  padding: 30px 20px;
  position: absolute;
  left: 50%; top: 50%;
  transform: translate(-50%, -50%);
  color: var(--white);
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s 0.5s;
}
.bannerWrapper .pager{
  position: absolute;
  left: 50%; transform: translateX(-50%);
  bottom: 20px;
  justify-content: center;
  gap: 15px;
  z-index:10;
}
.bannerWrapper .pager .play {
  position: absolute;
  bottom: 20px;
}
.bannerWrapper .pager a{
  width: 150px;
  height: 8px;
  background: var(--light-gray);
  position: relative;
}
.bannerWrapper .pager a::after {
  position: absolute;
  left: 0; top: 0;
  content: '';
  width: 0px;
  height: 8px;
  background:var(--sub-color);
  z-index: 2;
}
.bannerWrapper .pager a> span{
  position: absolute;
  top: -25px; left: 0;
  color: var(--light-gray);
}
.bannerWrapper .pager > span {
  color: var(--light-gray);
  position: absolute; left: calc(100% + 15px); top: -10px;
}
.bannerPlay {display: none;}
.bannerWrapper .pager a.bannerActive::after {
  animation: width 5s linear forwards;
}
@keyframes width {
  0% {}
  100% {width: 150px;}
}
.bannerWrapper .pager a.bannerActive span {
  color: var(--sub-color);
}

/* 
MAIN
business
*/
.business {
  height: 100vh;
  position: relative;
  color: var(--white);
  overflow: hidden;
  justify-content: space-around;
}
.business video {
  position: absolute;
  z-index: -1;
  left: 0; right: 0; top: 0; bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.business .container {
  text-align: center;

}
.business .container h3 {
  margin-bottom: 10%;
}
.business .container ul {
  justify-content: space-around;
}
.business .container ul span {
  opacity: 0;
}
.business.lineActive .container ul li:first-child span {animation:opacity 0.5s 0.5s linear forwards;}
.business.lineActive .container ul li:nth-child(2) span {animation:opacity 0.5s 1.5s linear forwards;}
.business.lineActive .container ul li:nth-child(3) span {animation:opacity 0.5s 2.5s linear forwards;}
.business.lineActive .container ul li:last-child span {animation:opacity 0.5s 3.5s linear forwards;}
@keyframes opacity {
  from{opacity: 0%;}
	to{opacity: 100%;}	
}
.business .container ul li::after {
  content: '';
  display: block;
  width: 1px;
  height: 0%;
  background: var(--dark-gray);
  position: absolute; left: 50%; top:0; bottom: 0;
}
.business.lineActive .container ul li:first-child::after{
  margin-left: -657px;
  animation:after 0.5s linear forwards;
}
@keyframes after {
	from{height: 0%;}
	to{height: 100%;}	
}
.business.lineActive .st1{
  stroke-dasharray:78px;
  stroke-dashoffset:78px;
  animation:line 0.5s 0.5s linear forwards;
}
.business svg .st_item1 {opacity: 0;}
.business.lineActive svg .st_item2 {
  opacity: 0;
  animation:opacity 0.5s 3.5s linear forwards;
}
.business svg.st1:first-of-type {stroke: transparent;}
.business svg path:first-child{fill: transparent;}
.business svg rect:nth-of-type(2),.business svg rect:nth-of-type(3),.business svg rect:nth-of-type(4){fill: transparent;}
@keyframes line {
	from{ stroke-dashoffset:78px;}
	to{ stroke-dashoffset:0px;}	
}
.business.lineActive .container ul li:nth-child(2)::after{
  margin-left: -305px;
  animation:after 0.5s 1s linear forwards;
}
.business.lineActive .st2{
  stroke-dasharray:78px;
  stroke-dashoffset:78px;
  animation:line 0.5s 1.5s linear forwards;
}
.business.lineActive .container ul li:nth-child(3)::after {
  animation:after 0.5s 2s linear forwards;
}
.business.lineActive .st3{
  stroke-dasharray:78px;
  stroke-dashoffset:78px;
  animation:line 0.5s 2.5s linear forwards;
}
.business.lineActive .container ul li:nth-child(4)::after{
  margin-left: 328px;
  animation:after 0.5s 3s linear forwards;
}
.business.lineActive .st4{
  stroke-dasharray:78px;
  stroke-dashoffset:78px;
  animation:line 0.5s 3.5s linear forwards;
}
.business.lineActive .container ul li:last-child::before{
  content: '';
  display: block;
  width: 1px;
  height: 0%;
  background: var(--dark-gray);
  position: absolute; left: 50%; top: 0px; bottom: 0;
  margin-left: 641px;
  animation:after 0.5s 4s linear forwards;
}
.business .container ul a {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}
.business svg {
  width: 50px;
  height: 50px;
}
.business svg rect,
.business svg path{
  stroke: var(--white);
}

/* 
MAIN
career
*/
.career {
  padding-top: calc(var(--row) * 3);
  height: 900px;

}
.career h2,
.career p {text-align: center;}
.career_left, .career_right {margin-top: calc(var(--row) * 5);}
.career::after{
  content: '';
  display: block;
  clear: both;
}
.career .career_left {
  width: 45%;
  padding-top: 10px;
  padding-left: 94px;
  float: left;
  overflow: hidden;
  box-sizing: border-box;
}
.career .career_left span {
  display: block;
}
.career .career_left span:first-child {
  line-height: calc(var(--row) * 2);
}
.career .career_left .h2 {
  color: var(--sub-color);
}
.career .career_left ul {
  margin-top: 150px;
  position: relative;
  height: 150px;
}
.career .career_left li {
  width: 25%;
  position: absolute;
  left: 0;
  transition: 0.5s;
}
.career .career_left li:nth-child(1){left: 0;}
.career .career_left li:nth-child(2){left: 80px;}
.career .career_left li:nth-child(3){left: 160px;}
.career .career_left li:nth-child(4){left: 240px;}
.career .career_left li:nth-child(5){left: 320px;}

.career .career_left li img{
  width: 100%;
}
.career .career_right {
  float: right;
  width: 55%;
  position: relative;
}
.career_right .sellphone{
  width: 227px;
  height: 452px;
  background-image: url(../images/main_career_sellphone_img.png);
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  color: var(--white);
}
.career_right .detail {width: 70%;}
.career .sellphone > img {
  width: 50%;
  object-fit: cover;
}
.career_right li em {font-weight: 600;}
.career_right li span {margin-left: 40px;}
.career_right .career_Recruitment {margin-left: 90px;}
.career_right .pr_location {margin-left: 105px;}
.career_right li {
  display: flex;
  font-weight: 500;
  line-height: calc(var(--row) * 2);
  position: relative;
  text-align: center;
}
.career_right li::after {
  position: absolute;
  bottom: 0px;
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background: var(--light-gray);
}
.career_right ul {transform: translateY(20%);}
.sellphone .pr_imges {width: 190px;}
.animate__animated {animation-duration: 0.8s;}
.pr_imges> img {
  width: 100%;
  object-fit: cover;
}
.career .career_right .readmore {
  position: absolute;
  right: 29%; bottom: 136px;
  width: 95px;
}
.career .career_right .readmore img {width: 100%;}
/* 
MAIN
prcenter
*/
.prcenter {
  height: 100vh;
  overflow: hidden;
  background: #F2F2F2;
}
.prcenter .container {
  position: relative;
}
.prcenter .container h2{
  padding-top: calc(var(--row) * 3);
}
.prcenter_txt {
  width: 100%; height: 100%;
}
.prcenter_txt div{
  position: absolute;
  top: 190%; left: 3%;
  text-align: center;
  width: 30%;
  display: none;
}
.prcenter_txt div.prcenterActive {
  display: block;
}
.prcenter .container h3 {
  color: var(--sub-color);
  margin-bottom: calc(var(--row) * 2);
}
.autoSlide {
  width: 100%;
  height: 900px;
  position: absolute;
  top: 0; left: 50%;
  bottom: 0;
}
.prcenter ul{
  position: absolute;
  top: 0;
  width: 386px;
}
.prcenter .slideUp {left: 0;}
.prcenter .slideDown {
  left: 416px;
  transform: translateY(-280px);}
.prcenter li {
  width: 100%;
}
.prcenter li + li {
  margin-top: 30px;
}
.prcenter img {
  width: 100%;
  object-fit: cover;
}

/* 
MAIN
esg
*/
.esg {
  width: 100%;
  height: 900px;
  background-image: url(../images/main_esg_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
}
.esg .container {
  padding-top: calc(var(--row) * 3);
  text-align: center;
  color: var(--white);
}
.esg .container h3, 
.esg .container p {
  position: relative;
  z-index: 1;
}
.esg .esgText {
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(124,149,88,1) 35%, rgba(124,149,88,1) 100%);
  width: 60%;
  position: absolute;
  right: 0; top: 0; bottom: 0;
  overflow: hidden;
}
.esg .esgText ul{
  width: 100%;
  margin-top: 25%;
  text-align: center;
  /* color: var(--dark-gray); */
}
.esg .esgText li {
  width: 100%;
  position: absolute;
  left: 60%; transform: translateX(-50%); 
  transition: 0.3s;
}
.esg .esgText li:first-child {top: 200px; opacity: 0.2;}
.esg .esgText li:nth-child(2) {top: 300px; opacity: 0.5;}
.esg .esgText li:nth-child(3) {top: 400px; opacity: 0.7;}
.esg .esgText li:nth-child(4) {top: 500px; opacity: 1; font-size: 35px; line-height: 55px;}
.esg .esgText li:nth-child(5) {top: 650px; opacity: 0.7;}
.esg .esgText li:nth-child(6) {top: 750px; opacity: 0.2;}
.esg .esgText li:last-child {top: 850px; opacity: 0;}

/* ==================== main : media 우예지  ==================== */
@media screen and (max-width: 768px) {

  /* banner */
  .bannerWrapper {position: relative;}
  .bannerWrapper .slidecontainer .slide-text {
    padding: 15px 10px;
    width: 65%;
  }
  .bannerWrapper .slidecontainer .slide-text .banner-title {margin-bottom: 30px;}
  .bannerWrapper .pager {bottom: 30px;}
  .bannerWrapper .pager > span {left: 0; top: calc(100% + 5px);}
  .bannerWrapper .pager a{width: 100px;}
  .bannerPause {display: none;}
  @keyframes width {
    0% {}
    100% {width: 100px;}
  }

  /* business */
  .business {
    height: 800px;
    position: relative;
    color: var(--white);
    overflow: hidden;
    justify-content: space-around;
  }
  .business video {
    position: absolute;
    z-index: -1;
    left: 0; right: 0; top: 0; bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .business .container {
    text-align: center;
    width: 100%;
    height: 100%;
  }
  .business .container h3 {
    margin-top: 30%;
  }
  .business .container ul {
    position: absolute;
    left: 50%; top: 50%;
    transform: translateX(-50%);
    width: 300px;
    gap: 70px;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .business .container ul li::after {display: none;}
  .business.lineActive .container ul li:last-child::before {display: none;}
  
  /* career */
  .career.container {
    position: relative;
    overflow: hidden;
  }
  .career::after{
    content: '';
    display: block;
    clear: both;
  } 
  .career .career_left {
    margin-top: 300px;
    width: 30%;
    padding-left: 0;
    text-align: center;
    float: right;
    box-sizing: border-box;
  }
  .career .career_left .pr_list {display: none;}
  .career .career_left span:first-of-type {display: none;}
  .career_left, .career_right{
    margin-top: calc(var(--row)* 2);
  }
  .career .career_right {
    width: 70%;
    height: 100%;
    padding-top: none;
    float: left;
    box-sizing: border-box;
    position: static;
  }
  .career .career_right ul {display: none;}
  .career_right li {position: static;}
  .career_right .sellphone {
    margin-top: none;
    width: 100%;
    height: 79%;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
  }
  .career_right .detail {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  .career .career_right .readmore{
    position: absolute;
    right: 4px; bottom: 35%;
    width: 150px;
  }
  .career_right ul {
    transform: translateY(0%);
  }

  /*prcenter - 하는 중*/
  .prcenter .container {
    width: 100%;
    height: 100%;
  }
  .prcenter .container h2 {text-align: center;}
  .prcenter .container p {text-align: center;}
  .prcenter_txt {
    height: 30%;
  }
  .prcenter_txt div{
    position: absolute;
    top: 210px; left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 80%;
    display: none;
  }
  .prcenter ul {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    position: absolute;
    top: auto; bottom: 0;
    width: 100%;
    gap: 10px;
  }
  .prcenter .autoSlide {
    width: 1390px;
    left: 0;
  }
  .prcenter .slideUp { 
    left: 0; right: 0;
    bottom:50px;
    transform: translateX(-220px);

  }
  .prcenter .slideDown {
    left: 0; right: 0;
    bottom: 250px;
    transform: translateX(-440px);
  }
  .prcenter li {
    width: 100%;
  }
  .prcenter li + li {
    margin-top: none;
  }
  .prcenter img {
    width: 165px;
    height: 165px;
    object-fit: cover;
  }

  /* esg */
  .esg .esgText {
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(124,149,88,1) 35%, rgba(124,149,88,1) 100%);
    height: 80%;
    right: auto;
    top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
  }
  .esg .esgText ul {
    margin-top: 50%;
  }
  .esg .esgText li {
    position: static;
    width: auto;
    left: auto;
    bottom: 0;
    transform: translateX(0%);
    line-height: 55px;
  }
  .esg .esgText li:last-child {top: 850px; opacity: 0.1;}
  .esg .esgText li:nth-child(4) {
    font-size: 30px;
    line-height: 45px;
  }
}
