@charset "utf-8";
/* member-woo */
@import url(common.css);
main .sub_fiexd{
  position: relative;
}
main header {
  width: 500px;
  position: sticky;
  left: 0;
  top: 120px;
  height: 260px;
  background: none;
  color: var(--medium-gray);
  box-shadow: none;
  z-index: 1;
}
/* #sub_header {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  gap: 20px;
} */
#sub_header li {padding: 10px 5px;}
#sub_header .sHeaderActive {
  position: absolute;
	width: 0;
  height: 50px;
	top: 0px;
	left:0;
	bottom:0;
	background: var(--sub-color);
	transition:0.4s;
  z-index: -1;
  border-radius: 50px;
}
#sub_header li a {padding: 10px 20px;}
.sec_content section {
  text-align: center;
  justify-content: space-between;
  gap: 100px;
  margin: calc(var(--row) * 4) 0;
}
.sec_content section div {width: 400px;}
.sec_content section div h3 {margin-bottom: var(--row);}
.sec_content section div p {line-height: 30px;}
.sec_content section img {border-radius: 25px;}
#sec1 div {order: 2;}
#sec1 p {order: 1;}
#sec3 div {order: 2;}
#sec3 p {order: 1;}
.patent {padding: calc(var(--row) * 3) 0;}
.patent h2.h1{line-height: 55px;}
.patent img {margin-top: var(--row);}
.patent .explan {text-align: center;} 

@media screen and (max-width:768px){
  main header {
    width: 100%;
    position: sticky;
    left: 0;
    top: 120px;
    height: 100px;
    background: none;
    color: var(--medium-gray);
    box-shadow: none;
    z-index: 1;
    border: 1px solid red;
  }
  #sub_header ul{
    display: flex;
    width: 100%;
  }
  #sub_header li {padding:0;}
}